<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJEHlbU7L1Y1SevCvGj6vF90fPUAHQyu8</string>
	<key>GCM_SENDER_ID</key>
	<string>893320747343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oneorg.staff</string>
	<key>PROJECT_ID</key>
	<string>oneorg-578eb</string>
	<key>STORAGE_BUCKET</key>
	<string>oneorg-578eb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893320747343:ios:cb11a39478cab2fa90cd3a</string>
</dict>
</plist>